# No area
[area]
x=0.
y=0.
w=0.
h=0.
tangible=false

# The length of the engine trail depends on numframes, animdelay and hits.
# Hits is how many frames it lasts period, and numframes and animdelay
# determine how long it takes to go through a single iteration.
[sprite]
image="thrustparticle.png"
imgw=16
imgh=1
numframes=16
animdelay=1

[gameobj]
# For coolness, set it to 45!
hits=31
# Mass = 0 -> immobile
mass=0.1
deathanim="None"
